# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
lib/

# Executables
*.exe
bin/

# DUB
.dub
docs.json
__dummy.html
docs/
generated-docs/
skeleton.html
dub.selections.json

# Code coverage
*.lst

